*~
/.vboxclient-*.pid
/.Xauthority
/.bash_history

/.cache/
/.cask/
/.emacs.d/.cask/
/.gconf/
/.gem/
/.gitconfig
/.local/
/.rubies/
/.ssh/
/.xscreensaver*
/.xsession-errors
/.xsession-errors.old
/src/
/.dmrc
